/* Applies margin and padding reset to all elements */
* {
  margin: 0; /* Sets the margin to 0 for all elements */
  padding: 0; /* Sets the padding to 0 for all elements */
  box-sizing: border-box; /* Sets the box-sizing property to border-box for all elements */
}

/* Sets smooth scrolling behavior and padding for scrolling */
html {
  scroll-behavior: smooth; /* Enables smooth scrolling behavior */
  scroll-padding-top: 75px; /* Sets the top padding for scrolling */
}

/* Styles for the body element */
body {
  font-weight: 400; /* Sets the font weight to 400 */
  overflow-x: hidden; /* Hides horizontal overflow */
  position: relative; /* Sets the positioning context to relative */
  background-color: #000 !important; /* Sets the background color to black with important priority */
  color: #cccccc !important; /* Sets the text color to #cccccc with important priority */
  font-family: 'Centra', sans-serif !important; /* Sets the font family to 'Centra' with important priority */
}

/* Applies margin and padding reset to heading elements */
h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Sets the margin to 0 for heading elements */
  padding: 0; /* Sets the padding to 0 for heading elements */
  line-height: normal; /* Sets the line height to normal for heading elements */
}

/* Applies margin and padding reset to paragraph, anchor, list, and button elements */
p, a, li, button, ul {
  margin: 0; /* Sets the margin to 0 for specified elements */
  padding: 0; /* Sets the padding to 0 for specified elements */
  line-height: normal; /* Sets the line height to normal for specified elements */
  text-decoration: none; /* Removes text decoration for specified elements */
}

/* Styles for anchor elements on hover */
a:hover {
  text-decoration: none; /* Removes text decoration on hover for anchor elements */
}

/* Styles for image elements */
img {
  width: 100%; /* Sets the width to 100% for image elements */
  height: auto; /* Allows the height to adjust automatically based on the width */
}

/* Styles for button elements */
button {
  border: 0; /* Removes the border for button elements */
  background-color: transparent; /* Sets the background color to transparent for button elements */
}

/* Styles for focused input, textarea, and select elements */
input:focus, textarea:focus, select:focus {
  outline: none; /* Removes the outline when the element is focused */
}

/* Media query for screens with a minimum width of 1700px */
@media (min-width:1700px) {
  main .container {
    max-width: 100%; /* Sets the maximum width to 100% for the container within the main element */
    padding: 0 150px; /* Sets the padding to 0 on top/bottom and 150px on left/right for the container within the main element */
  }
}

/* Styles for the "enter_title" class */
.enter_title {
  font-size: 30px; /* Sets the font size to 30px */
  font-weight: 700; /* Sets the font weight to 700 */
  text-align: center; /* Centers the text horizontally */
  margin-right: 50px; /* Sets the right margin to 50px */
}

/* Styles for the "enter_container" class */
.enter_container {
  background-image: url('../images/flowers.png'); /* Sets the background image */
  background-size: cover; /* Scales the background image to cover the entire container */
  background-position: center; /* Positions the background image at the center */
  display: flex; /* Sets the display property to flex */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  height: 100vh; /* Sets the height to 100% of the viewport height */
}

/* Styles for the "enter_button" class */
.enter_button {
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  padding: 10px 20px; /* Sets the padding to 10px on top/bottom and 20px on left/right */
  font-size: 16px; /* Sets the font size to 16px */
  background-color: #ff8400; /* Sets the background color to #ff8400 */
  color: #000; /* Sets the text color to black */
  border: none; /* Removes the border */
  border-radius: 5px; /* Sets the border radius to 5px */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}

/* Styles for the "navbar" class */
nav.navbar {
  padding: 18px 0; /* Sets the padding to 18px on top/bottom and 0 on left/right */
  position: fixed; /* Fixes the position of the navbar */
  width: 100%; /* Sets the width to 100% */
  top: 0; /* Positions the navbar at the top */
  z-index: 9999; /* Sets the z-index to 9999 */
  transition: 0.32s ease-in-out; /* Applies a transition effect with 0.32s duration and ease-in-out timing function */
}

/* Styles for the "scrolled" class of the "navbar" class */
nav.navbar.scrolled {
  padding: 0px 0; /* Sets the padding to 0 on top/bottom and left/right */
  background-color: #be6a17; /* Sets the background color to #be6a17 */
  opacity: 85%; /* Sets the opacity to 85% */
}

/* Styles for the "navbar-brand" class within the "navbar" class */
nav.navbar a.navbar-brand {
  width: 9%; /* Sets the width to 9% */
}

/* Styles for the "map-icon-dark" class */
.map-icon-dark {
  color: #fff; /* Sets the color to white */
}

/* Styles for the "map-icon" class within the "navbar-brand" class on hover */
nav.navbar .navbar-brand .map-icon:hover {
  transform: scale(1.1); /* Applies a scale transformation of 1.1 on hover */
  transition: 0.3s ease-in-out; /* Applies a transition effect with 0.3s duration and ease-in-out timing function */
}

/* Styles for the "navbar-link" class within the "navbar-nav" class */
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400; /* Sets the font weight to 400 */
  color: #dedede !important; /* Sets the text color to #dedede with important priority */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  padding: 0 25px; /* Sets the padding to 0 on top/bottom and 25px on left/right */
  font-size: 18px; /* Sets the font size to 18px */
  opacity: 0.75; /* Sets the opacity to 0.75 */
}

/* Styles for the "navbar-link" class within the "navbar-nav" class on hover and when active */
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1; /* Sets the opacity to 1 on hover and when active */
}

/* Styles for the "navbar-text" class */
span.navbar-text {
  display: flex; /* Sets the display property to flex */
  align-items: center; /* Centers the content vertically */
}

/* Styles for the "social-icon" class */
.social-icon {
  display: inline-block; /* Sets the display property to inline-block */
  margin-left: 14px; /* Sets the left margin to 14px */
}

/* Styles for the "social-icon" class */
.social-icon a {
  width: 42px; /* Sets the width to 42px */
  height: 42px; /* Sets the height to 42px */
  background: rgba(165, 114, 12, 0.5); /* Sets the background color with transparency */
  display: inline-flex; /* Sets the display property to inline-flex */
  border-radius: 50%; /* Sets the border radius to 50% to create a circle */
  margin-right: 6px; /* Sets the right margin to 6px */
  align-items: center; /* Centers the content vertically */
  justify-content: center; /* Centers the content horizontally */
  line-height: 1; /* Sets the line height to 1 */
}

/* Styles for the "social-icon" class before pseudo-element */
.social-icon a::before {
  content: ""; /* Inserts an empty content before the element */
  width: 42px; /* Sets the width to 42px */
  height: 42px; /* Sets the height to 42px */
  position: absolute; /* Sets the positioning context to absolute */
  background-color: #a5720c; /* Sets the background color to #a5720c */
  border-radius: 50%; /* Sets the border radius to 50% to create a circle */
  transform: scale(0); /* Applies a scale transformation of 0 */
  transition: 0.3s ease-in-out; /* Applies a transition effect with 0.3s duration and ease-in-out timing function */
}

/* Styles for the "social-icon" class before pseudo-element on hover */
.social-icon a:hover::before {
  transform: scale(1); /* Applies a scale transformation of 1 on hover */
}

/* Styles for the "social-icon" class image */
.social-icon a img {
  width: 100%; /* Sets the width to 100% */
  z-index: 1; /* Sets the z-index to 1 */
  transition: 0.3s ease-in-out; /* Applies a transition effect with 0.3s duration and ease-in-out timing function */
}

/* Styles for the "social-icon" class image on hover */
.social-icon a:hover img {
  filter: brightness(100%) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); /* Applies a complex filter effect on hover */
}

/* Styles for the button within the "navbar-text" class */
.navbar-text button {
  font-weight: 700; /* Sets the font weight to 700 */
  color: #dedede; /* Sets the text color to #dedede */
  border: 3px solid #dedede; /* Sets a 3px solid border with color #dedede */
  border-radius: 10px; /* Sets the border radius to 10px */
  padding: 18px 34px; /* Sets the padding to 18px on top/bottom and 34px on left/right */
  font-size: 18px; /* Sets the font size to 18px */
  margin-left: 18px; /* Sets the left margin to 18px */
  position: relative; /* Sets the positioning context to relative */
  background-color: transparent; /* Sets the background color to transparent */
  transition: 0.3s ease-in-out; /* Applies a transition effect with 0.3s duration and ease-in-out timing function */
}

/* Styles for the span within the button within the "navbar-text" class */
.navbar-text button span {
  z-index: 1; /* Sets the z-index to 1 */
}

/* Styles for the button before pseudo-element within the "navbar-text" class */
.navbar-text button::before {
  content: ""; /* Inserts an empty content before the element */
  width: 0%; /* Sets the initial width to 0% */
  height: 100%; /* Sets the height to 100% */
  position: absolute; /* Sets the positioning context to absolute */
  background-color: #000; /* Sets the background color to black */
  border-radius: 10px; /* Sets the border radius to 10px */
  left: 0; /* Positions the pseudo-element to the left */
  top: 0; /* Positions the pseudo-element to the top */
  z-index: -1; /* Sets the z-index to -1 to place it behind the button */
  transition: 0.3s ease-in-out; /* Applies a transition effect with 0.3s duration and ease-in-out timing function */
}

/* Styles for the button within the "navbar-text" class on hover */
.navbar-text button:hover {
  color: #dedede; /* Sets the text color to #dedede on hover */
}

/* Styles for the button before pseudo-element within the "navbar-text" class on hover */
.navbar-text button:hover::before {
  content: ""; /* Inserts an empty content before the element on hover */
  width: 100%; /* Sets the width to 100% on hover */
  height: 100%; /* Sets the height to 100% on hover */
  position: absolute; /* Sets the positioning context to absolute on hover */
}

/* Styles for the "navbar-toggler" class within the "navbar" class on active and focus */
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none; /* Removes the outline on active and focus */
  box-shadow: none; /* Removes the box shadow on active and focus */
}

/* Styles for the "navbar-toggler-icon" class within the "navbar" class */
nav.navbar .navbar-toggler-icon {
  width: 24px; /* Sets the width to 24px */
  height: 17px; /* Sets the height to 17px */
  background-image: none; /* Removes the background image */
  position: relative; /* Sets the positioning context to relative */
  border-bottom: 2px solid #dedede; /* Sets a 2px solid bottom border with color #dedede */
  transition: all 300ms linear; /* Applies a transition effect with 300ms duration and linear timing function */
  top: -2px; /* Adjusts the top position by -2px */
}

/* Styles for the "navbar-toggler-icon" class within the "navbar" class on focus */
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #000; /* Sets a 2px solid bottom border with color black on focus */
}

/* Styles for the "navbar-toggler-icon" class after and before pseudo-elements within the "navbar" class */
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px; /* Sets the width to 24px */
  position: absolute; /* Sets the positioning context to absolute */
  height: 2px; /* Sets the height to 2px */
  background-color: #000; /* Sets the background color to black */
  top: 0; /* Positions the pseudo-elements to the top */
  left: 0; /* Positions the pseudo-elements to the left */
  content: ''; /* Inserts an empty content */
  z-index: 2; /* Sets the z-index to 2 */
  transition: all 300ms linear; /* Applies a transition effect with 300ms duration and linear timing function */
}

/* Styles for the "navbar-toggler-icon" class after pseudo-element within the "navbar" class */
nav.navbar .navbar-toggler-icon:after {
  top: 8px; /* Adjusts the top position to 8px */
}

/* Styles for the "navbar-toggler" class with "aria-expanded" attribute set to "true" and the "navbar-toggler-icon" class after pseudo-element within the "navbar" class */
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg); /* Applies a rotation transformation of 45 degrees */
  background-color: #000; /* Sets the background color to black */
  height: 2px; /* Sets the height to 2px */
}

/* Styles for the "navbar-toggler" class with "aria-expanded" attribute set to "true" and the "navbar-toggler-icon*/
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg); /* Translates the element by 8px vertically and applies a rotation transformation of -45 degrees */
  background-color: #000; /* Sets the background color to black */
  height: 2px; /* Sets the height to 2px */
}

/* Styles for the "navbar-toggler" class with "aria-expanded" attribute set to "true" and the "navbar-toggler-icon" class within the "navbar" class */
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent; /* Sets the border color to transparent */
}

/* Styles for the "banner" class */
.banner {
  margin-top: 0; /* Sets the top margin to 0 */
  padding: 260px 0 100px 0; /* Sets the padding to 260px on top, 0 on right/left, and 100px on bottom */
  background-image: url('./assets/img/flowers_inverted.png'); /* Sets the background image */
  background-position: top center; /* Positions the background image at the top center */
  background-size: cover; /* Scales the background image to cover the entire container */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
}

/* Styles for the "tagline" class within the "banner" class */
.banner .tagline {
  font-weight: 700; /* Sets the font weight to 700 */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  padding: 8px 10px; /* Sets the padding to 8px on top/bottom and 10px on left/right */
  background: linear-gradient(90.21deg, rgba(158, 107, 13, 0.5) -5.91%, rgba(170, 74, 0, 0.5) 111.58%); /* Applies a linear gradient background */
  border: 1px solid rgba(0, 0, 0, 0.5); /* Sets a 1px solid border with transparency */
  border-radius: 10px; /* Sets the border radius to 10px */
  font-size: 20px; /* Sets the font size to 20px */
  margin-bottom: 16px; /* Sets the bottom margin to 16px */
  display: inline-block; /* Sets the display property to inline-block */
}

/* Styles for the h1 element within the "banner" class */
.banner h1 {
  font-size: 65px; /* Sets the font size to 65px */
  font-weight: 700; /* Sets the font weight to 700 */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  line-height: 1; /* Sets the line height to 1 */
  margin-bottom: 20px; /* Sets the bottom margin to 20px */
  display: block; /* Sets the display property to block */
}

/* Styles for the p element within the "banner" class */
.banner p {
  color: #d1d9e6; /* Sets the text color to #d1d9e6 */
  font-size: 18px; /* Sets the font size to 18px */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  line-height: 1.5em; /* Sets the line height to 1.5em */
  width: 96%; /* Sets the width to 96% */
}

/* Styles for the button within the "banner" class */
.banner button {
  color: #dedede; /* Sets the text color to #dedede */
  font-weight: 700; /* Sets the font weight to 700 */
  font-size: 20px; /* Sets the font size to 20px */
  margin-top: 60px; /* Sets the top margin to 60px */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  display: flex; /* Sets the display property to flex */
  align-items: center; /* Centers the content vertically */
}

/* Styles for the svg element within the button within the "banner" class */
.banner button svg {
  font-size: 25px; /* Sets the font size to 25px */
  margin-top: 5px; /* Sets the top margin to 5px */
  margin-left: 10px; /* Sets the left margin to 10px */
  margin-right: 10px; /* Sets the right margin to 10px */
  transition: 0.3s ease-in-out; /* Applies a transition effect with 0.3s duration and ease-in-out timing function */
  line-height: 1; /* Sets the line height to 1 */
}

/* Styles for the svg element within the button within the "banner" class on hover */
.banner button:hover svg {
  margin-top: 25px; /* Sets the top margin to 25px on hover */
}

/* Styles for the img element within the "banner" class */
.banner img {
  animation: updown 3s linear infinite; /* Applies an animation named "updown" with 3s duration, linear timing function, and infinite repetition */
}

/* Keyframes animation for the "updown" animation */
@keyframes updown {
  0% {
    transform: translateY(-20px); /* Translates the element by -20px vertically at 0% of the animation */
  }
  50% {
    transform: translateY(20px); /* Translates the element by 20px vertically at 50% of the animation */
  }
  100% {
    transform: translateY(-20px); /* Translates the element by -20px vertically at 100% of the animation */
  }
}

/* Styles for the .wrap class within the .txt-rotate class */
.txt-rotate > .wrap {
  border-right: 0.08em solid #ccc; /* Sets a 0.08em solid right border with color #ccc */
}

/* Styles for the "about" class */
.about {
  padding: 80px 0; /* Sets the padding to 80px on top/bottom and 0 on left/right */
  position: relative; /* Sets the positioning context to relative */
  background: linear-gradient(120.21deg, #413f6d -5.91%, #9b6104 111.58%); /* Applies a linear gradient background */
}

/* Styles for the p element within the "about" class */
.about p {
  color: #cccccc; /* Sets the text color to #cccccc */
  font-size: 14px; /* Sets the font size to 14px */
  width: 80%; /* Sets the width to 80% */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  line-height: 1.5em; /* Sets the line height to 1.5em */
  margin: 14px auto 50px auto; /* Sets the margin to 14px on top, auto on left/right, and 50px on bottom */
  text-align: justify; /* Sets the text alignment to justify */
  text-justify: inter-ideograph; /* Sets the text justification to inter-ideograph */
  width: 56%; /* Sets the width to 56% */
}

/* Styles for the "about-icon" class within the "about" class */
.about .about-icon {
  color: #be6a17; /* Sets the color to #be6a17 */
}

/* Styles for the "gallery-image" class */
.gallery-image {
  padding: 80px 0 50px 0; /* Sets the padding to 80px on top, 0 on right/left, and 50px on bottom */
  position: relative; /* Sets the positioning context to relative */
}

/* Styles for the "gallery-image-bx" class */
.gallery-image-bx {
  background: #eaeaea; /* Sets the background color to #eaeaea */
  border-radius: 64px; /* Sets the border radius to 64px */
  text-align: center; /* Centers the text horizontally */
  padding: 60px 50px; /* Sets the padding to 60px on top/bottom and 50px on left/right */
  margin-top: -60px; /* Sets the top margin to -60px */
}

/* Styles for the h2 element within the "gallery-image" class */
.gallery-image h2 {
  font-size: 45px; /* Sets the font size to 45px */
  font-weight: 700; /* Sets the font weight to 700 */
}

/* Styles for the p element within the "gallery-image" class */
.gallery-image p {
  color: #dedede; /* Sets the text color to #dedede */
  font-size: 18px; /* Sets the font size to 18px */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  line-height: 1.5em; /* Sets the line height to 1.5em */
  margin: 14px 0 75px 0; /* Sets the margin to 14px on top, 0 on right/left, and 75px on bottom */
}

/* Styles for the "image-slider" class */
.image-slider {
  width: 80%; /* Sets the width to 80% */
  margin: 0 auto; /* Sets the margin to 0 on top/bottom and auto on left/right to center the element */
  position: relative; /* Sets the positioning context to relative */
}

/* Styles for the img element within the "item" class within the "image-slider" class */
.image-slider .item img {
  width: 50%; /* Sets the width to 50% */
  margin: 0 auto 15px auto; /* Sets the margin to 0 on top, auto on left/right, and 15px on bottom */
  border-radius: 20px; /* Sets the border radius to 20px */
}

/* Styles for the "project" class */
.project {
  padding: 80px 0; /* Sets the padding to 80px on top/bottom and 0 on left/right */
  position: relative; /* Sets the positioning context to relative */
}

/* Styles for the h2 element within the "project" class */
.project h2 {
  font-size: 45px; /* Sets the font size to 45px */
  font-weight: 700; /* Sets the font weight to 700 */
  text-align: center; /* Centers the text horizontally */
}

/* Styles for the p element within the "project" class */
.project p {
  color: #cccccc; /* Sets the text color to #cccccc */
  font-size: 18px; /* Sets the font size to 18px */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  line-height: 1.5em; /* Sets the line height to 1.5em */
  margin: 14px auto 30px auto; /* Sets the margin to 14px on top, auto on left/right, and 30px on bottom */
  text-align: center; /* Centers the text horizontally */
  width: 56%; /* Sets the width to 56% */
}

/* Styles for the "nav-pills" class within the "project" class */
.project .nav.nav-pills {
  width: 72%; /* Sets the width to 72% */
  margin: 0 auto; /* Sets the margin to 0 on top/bottom and auto on left/right to center the element */
  border-radius: 50px; /* Sets the border radius to 50px */
  background-color: #000; /* Sets the background color to black */
  overflow: hidden; /* Hides any content that overflows the container */
}

/* Styles for the "nav-item" class within the "nav-pills" class within the "project" class */
.project .nav.nav-pills .nav-item {
  width: 33.33333%; /* Sets the width to 33.33333% (one-third) */
}

/* Styles for the "nav-link" class within the "nav-pills" class within the "project" class */
.project .nav.nav-pills .nav-link {
  background-color: transparent; /* Sets the background color to transparent */
  border-radius: 0; /* Removes the border radius */
  padding: 17px 0; /* Sets the padding to 17px on top/bottom and 0 on left/right */
  color: #dedede; /* Sets the text color to #dedede */
  width: 100%; /* Sets the width to 100% */
  font-size: 17px; /* Sets the font size to 17px */
  letter-spacing: 0.8px; /* Sets the letter spacing to 0.8px */
  font-weight: 500; /* Sets the font weight to 500 */
  position: relative; /* Sets the positioning context to relative */
  transition: 0.3s ease-in-out; /* Applies a transition effect with 0.3s duration and ease-in-out timing function */
  text-align: center; /* Centers the text horizontally */
  z-index: 0; /* Sets the z-index to 0 */
}

/* Styles for the "nav-link" class before pseudo-element within the "nav-pills" class within the "project" class */
.project .nav.nav-pills .nav-link::before {
  content: ""; /* Inserts an empty content before the element */
  position: absolute; /* Sets the positioning context to absolute */
  width: 0; /* Sets the initial width to 0 */
  height: 100%; /* Sets the height to 100% */
  background: #937451; /* Sets the background color to #937451 */
  top: 0; /* Positions the pseudo-element to the top */
  left: 0; /* Positions the pseudo-element to the left */
  z-index: -1; /* Sets the z-index to -1 to place it behind the nav-link */
  transition: 0.3s ease-in-out; /* Applies a transition effect with 0.3s duration and ease-in-out timing function */
}

/* Styles for the "nav-link" class with "active" state before pseudo-element within the "nav-pills" class within the "project" class */
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important; /* Sets the width to 100% with important priority when the nav-link has the "active" class */
}

/* Styles for the "nav-link" class with "active" state within the "nav-pills" class within the "project" class */
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(0, 0, 0, 1); /* Sets a 1px solid border with black color when the nav-link has the "active" class */
}

/* Styles for the "projects-tabs-tab-first" id within the "nav-link" class */
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(0, 0, 0, 0.5); /* Sets a 1px solid border with transparency */
  border-radius: 55px 0px 0px 55px; /* Sets the border radius to create rounded corners on the top-left and bottom-left */
}

/* Styles for the "projects-tabs-tab-second" id within the "nav-link" class */
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(0, 0, 0, 0.5); /* Sets a 1px solid top border with transparency */
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); /* Sets a 1px solid bottom border with transparency */
}

/* Styles for the "projects-tabs-tab-third" id within the "nav-link" class */
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(0, 0, 0, 0.5); /* Sets a 1px solid border with transparency */
  border-radius: 0 55px 55px 0; /* Sets the border radius to create rounded corners on the top-right and bottom-right */
}
/* Styles for the project image box */
.proj-imgbx {
  position: relative; /* Set the position to relative */
  border-radius: 30px; /* Set the border radius to 30px */
  overflow: hidden; /* Hide any content that overflows the box */
  margin-bottom: 24px; /* Set the bottom margin to 24px */
}

/* Styles for the pseudo-element before the project image box */
.proj-imgbx::before {
  content: ""; /* Add an empty content */
  background: linear-gradient(90.21deg, #bd7f0b -5.91%, #6d8d4d 111.58%); /* Set the background gradient */
  opacity: 0.85; /* Set the opacity to 0.85 */
  position: absolute; /* Set the position to absolute */
  width: 100%; /* Set the width to 100% */
  height: 0; /* Set the initial height to 0 */
  transition: 0.4s ease-in-out; /* Add a transition effect */
}

/* Styles for the pseudo-element before the project image box on hover */
.proj-imgbx:hover::before {
  height: 100%; /* Set the height to 100% on hover */
}

/* Styles for the project text */
.proj-txtx {
  position: absolute; /* Set the position to absolute */
  text-align: center; /* Center the text horizontally */
  top: 65%; /* Set the initial top position to 65% */
  left: 50%; /* Set the left position to 50% */
  transform: translate(-50%, -50%); /* Center the text vertically */
  transition: 0.5s ease-in-out; /* Add a transition effect */
  opacity: 0; /* Set the initial opacity to 0 */
  width: 100%; /* Set the width to 100% */
}

/* Styles for the project text when hovering over the project image box */
.proj-imgbx:hover .proj-txtx {
  top: 50%; /* Set the top position to 50% on hover */
  opacity: 1; /* Set the opacity to 1 on hover */
}

/* Styles for the heading in the project text */
.proj-txtx h4 {
  font-size: 30px; /* Set the font size to 30px */
  font-weight: 700; /* Set the font weight to 700 */
  letter-spacing: 0.8px; /* Set the letter spacing to 0.8px */
  line-height: 1.1em; /* Set the line height to 1.1em */
}

/* Styles for the span element in the project text */
.proj-txtx span {
  font-style: italic; /* Set the font style to italic */
  font-weight: 400; /* Set the font weight to 400 */
  font-size: 15px; /* Set the font size to 15px */
  letter-spacing: 0.8px; /* Set the letter spacing to 0.8px */
}

/* Dark Mode Styles */
/* Styles for the headings in the second and third tab panes of the project section */
.project .tab-pane[eventKey="second"] h3,
.project .tab-pane[eventKey="third"] h3 {
  color: #cccccc; /* Set the text color to #cccccc */
}

/* Styles for the paragraphs in the second and third tab panes of the project section */
.project .tab-pane[eventKey="second"] p,
.project .tab-pane[eventKey="third"] p {
  color: #999999; /* Set the text color to #999999 */
}

/* Styles for the list items in the second and third tab panes of the project section */
.project .tab-pane[eventKey="second"] li,
.project .tab-pane[eventKey="third"] li {
  color: #cccccc; /* Set the text color to #cccccc */
}

/* Styles for the contact section */
.contact {
  background: linear-gradient(120.21deg, #9b6104 -5.91%, #413f6d 111.58%); /* Set the background gradient */
  padding: 60px 0 200px 0; /* Set the padding */
}

/* Styles for the image in the contact section */
.contact img {
  width: 92%; /* Set the width to 92% */
}

/* Styles for the heading in the contact section */
.contact h2 {
  font-size: 45px; /* Set the font size to 45px */
  font-weight: 700; /* Set the font weight to 700 */
  margin-bottom: 30px; /* Set the bottom margin to 30px */
}

/* Styles for the input and textarea elements in the contact form */
.contact form input, .contact form textarea {
  width: 100%; /* Set the width to 100% */
  background: rgba(0, 0, 0, 0.1); /* Set the background color with opacity */
  border: 1px solid rgba(0, 0, 0, 0.5); /* Set the border */
  border-radius: 20px; /* Set the border radius to 20px */
  color: #000; /* Set the text color to #000 */
  margin: 0 0 8px 0; /* Set the margin */
  padding: 18px 26px; /* Set the padding */
  font-weight: 500; /* Set the font weight to 500 */
  font-size: 18px; /* Set the font size to 18px */
  letter-spacing: 0.8px; /* Set the letter spacing to 0.8px */
  transition: 0.3s ease-in-out; /* Add a transition effect */
}

/* Styles for the input and textarea elements in the contact form when focused */
.contact form input:focus, .contact form textarea:focus {
  background: rgba(0, 0, 0, 1); /* Set the background color to black with opacity */
  color: #dedede; /* Set the text color to #dedede */
}

/* Styles for the placeholder text in the input and textarea elements of the contact form */
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px; /* Set the font size to 16px */
  font-weight: 400; /* Set the font weight to 400 */
  color: #000; /* Set the text color to #000 */
}

/* Styles for the placeholder text in the input and textarea elements of the contact form when focused */
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #dedede; /* Set the text color to #dedede */
  opacity: 0.8; /* Set the opacity to 0.8 */
}

/* Styles for the button in the contact form */
.contact form button {
  font-weight: 700; /* Set the font weight to 700 */
  color: #fff; /* Set the text color to white */
  background-color: #000; /* Set the background color to black */
  padding: 14px 48px; /* Set the padding */
  font-size: 18px; /* Set the font size to 18px */
  margin-top: 25px; /* Set the top margin to 25px */
  border-radius: 0; /* Remove the border radius */
  position: relative; /* Set the position to relative */
  transition: 0.3s ease-in-out; /* Add a transition effect */
}

/* Styles for the span element inside the button in the contact form */
.contact form button span {
  z-index: 1; /* Set the z-index to 1 */
  position: relative; /* Set the position to relative */
}

/* Styles for the button in the contact form on hover */
.contact form button:hover {
  color: #000; /* Set the text color to black on hover */
}

/* Styles for the pseudo-element before the button in the contact form */
.contact form button::before {
  content: ""; /* Add an empty content */
  background: #dedede; /* Set the background color to #dedede */
  width: 0; /* Set the initial width to 0 */
  height: 100%; /* Set the height to 100% */
  position: absolute; /* Set the position to absolute */
  top: 0; /* Set the top position to 0 */
  left: 0; /* Set the left position to 0 */
  z-index: 0; /* Set the z-index to 0 */
  transition: 0.3s ease-in-out; /* Add a transition effect */
}

/* Styles for the pseudo-element before the button in the contact form on hover */
.contact form button:hover::before {
  width: 100%; /* Set the width to 100% on hover */
}

/* Styles for the footer section */
.footer {
  padding: 0 0 50px 0; /* Set the padding */
  background-image: url('./assets/img/flowers_inverted.png'); /* Set the background image */
  background-position: center center; /* Set the background position to center */
  background-size: cover; /* Set the background size to cover */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

/* Styles for the image in the footer section */
.footer img {
  width: 26%; /* Set the width to 26% */
}

/* Styles for the social icons and paragraph elements in the footer section */
.footer .social-icon, p {
  font-weight: 400; /* Set the font weight to 400 */
  font-size: 14px; /* Set the font size to 14px */
  color: #cccccc; /* Set the text color to #cccccc */
  letter-spacing: 0.5px; /* Set the letter spacing to 0.5px */
  margin-top: 20px; /* Set the top margin to 20px */
}

/* Styles for the click-like element */
.click-like {
  margin-left: -450px; /* Set the left margin to -450px */
  margin-top: 0px; /* Set the top margin to 0 */
  margin-bottom: 10px; /* Set the bottom margin to 10px */
}

/* Styles for the hand-thumbs-up element */
.hand-thumbs-up {
  margin-left: -450px; /* Set the left margin to -450px */
}

/* Styles for the hand-thumbs-up element on hover */
.hand-thumbs-up:hover {
  cursor: pointer; /* Change the cursor to pointer on hover */
}

/* Styles for the pseudo-element before the hand-thumbs-up element */
.hand-thumbs-up::before {
  width: 42px; /* Set the width to 42px */
  height: 42px; /* Set the height to 42px */
  background-color: #a5720c; /* Set the background color to #a5720c */
  border-radius: 50%; /* Set the border radius to 50% to create a circle */
}

/* Styles for the App component */
.App {
  text-align: center; /* Center the text */
}

/* Styles for the App logo */
.App-logo {
  height: 40vmin; /* Set the height to 40vmin */
  pointer-events: none; /* Disable pointer events */
}

/* Media query for reduced motion preference */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Apply animation */
  }
}

/* Styles for the App header */
.App-header {
  background-color: #d1d9e6; /* Set the background color to #d1d9e6 */
  min-height: 100vh; /* Set the minimum height to 100vh */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Set the flex direction to column */
  align-items: center; /* Center the items horizontally */
  justify-content: center; /* Center the items vertically */
  font-size: calc(10px + 2vmin); /* Set the font size using a calculation */
  color: black; /* Set the text color to black */
}

/* Styles for the App link */
.App-link {
  color: #9e6b0d; /* Set the text color to #9e6b0d */
}

/* Keyframes for the App logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Set the starting rotation to 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Set the ending rotation to 360 degrees */
  }
}