/* Reset default styles for all elements */
* {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  box-sizing: border-box; /* Ensure box model includes padding and border */
}

/* Styles for smooth scrolling behavior */
html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
  scroll-padding-top: 75px; /* Add padding when scrolling */
}

/* Base styles for the body */
body {
  font-weight: 400; /* Set default font weight */
  overflow-x: hidden; /* Hide horizontal overflow */
  position: relative; /* Set relative positioning */
  background-color: #fff !important; /* Set background color */
  color: #333333 !important; /* Set text color */
  font-family: 'Centra', sans-serif !important; /* Set font family */
}

/* Reset margin, padding, and line-height for headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  line-height: normal; /* Reset line height */
}

/* Reset margin, padding, and line-height for paragraphs, links, list items, and buttons */
p, a, li, button, ul {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  line-height: normal; /* Reset line height */
  text-decoration: none; /* Remove default text decoration */
}

/* Remove underline on hover for links */
a:hover {
  text-decoration: none; /* Remove underline */
}

/* Ensure images are responsive */
img {
  width: 100%; /* Set width to 100% */
  height: auto; /* Maintain aspect ratio */
}

/* Basic styling for body */
body {
  font-family: Arial, sans-serif; /* Set font family */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  background-image: url(../images/flowers.png); /* Set background image */
}

/* Styles for header, main, and footer */
header, main, footer {
  margin: 0 auto; /* Center content horizontally */
  padding: 20px; /* Add padding */
}

/* Styles for header */
header {
  background-color: #4169E1; /* Set background color */
  color: #fff; /* Set text color */
  text-align: center; /* Center align text */
  width: 100%; /* Full width */
}

/* Styles for main content sections */
section {
  margin: 60px 200px; /* Add margin */
  background: linear-gradient(120.21deg, rgba(176, 196, 222, 0.5) -5.91%, rgba(100, 149, 237, 0.5) 111.58%); /* Set background gradient */
  border-radius: 50px; /* Add border radius */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

/* Styles for heading 2 */
h2 {
  margin-left: 1em; /* Add left margin */
  margin-top: 1em; /* Add top margin */
  font-size: 2em; /* Set font size */
  color: #333; /* Set text color */
  margin-bottom: 20px; /* Add bottom margin */
}

/* Styles for unordered lists */
ul {
  font-size: 1.5em; /* Set font size */
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
}

/* Styles for tables */
table {
  border-collapse: collapse; /* Collapse table borders */
  width: 100%; /* Full width */
  border: 0; /* Remove default border */
  display: flex; /* Use flex display */
  flex-direction: column; /* Set flex direction to column */
  justify-content: space-between; /* Space evenly between items */
  overflow: hidden; /* Hide overflow */
  box-sizing: border-box; /* Ensure box sizing includes border */
}

/* Styles for table rows */
tr {
  display: flex; /* Use flex display */
  justify-content: space-between; /* Space evenly between items */
  box-sizing: border-box; /* Ensure box sizing includes border */
}

/* Styles for table cells */
td, th {
  border: 1px solid #ddd; /* Set border */
  padding: 8px; /* Add padding */
  text-align: left; /* Left align text */
  vertical-align: middle; /* Center align vertically */
  padding-left: 20px; /* Add left padding */
  border: 0; /* Remove default border */
  width: 50%; /* Set width to 50% */
  float: left; /* Float left */
  box-sizing: border-box; /* Ensure box sizing includes border */
  font-weight: 900; /* Set font weight */
}

/* Styles for odd table rows */
tr:nth-child(odd) {
  background-color: #B0C4DE; /* Set background color */
}

/* Styles for even table rows */
tr:nth-child(even) {
  background-color: #6495ED; /* Set background color */
}

/* Additional styles for specific elements */
.release {
  width: 50%; /* Set width to 50% */
  float: left; /* Float left */
  box-sizing: border-box; /* Ensure box sizing includes border */
  padding: 8px; /* Add padding */
  text-align: left; /* Left align text */
  vertical-align: middle; /* Center align vertically */
  font-weight: 900; /* Set font weight */
}

/* Styles for footer */
footer {
  background-color: #f2f2f2; /* Set background color */
  text-align: center; /* Center align text */
  padding: 20px 0; /* Add padding */
  font-size: 14px; /* Set font size */
  color: #666; /* Set text color */
}
