* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #fff !important;
  color: #333333 !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/flowers.png);
  }
  
  header, main, footer {
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    background-color: #4169E1;
    color: #fff;
    text-align: center;
    width: 100%;
  }
  
  /* Main content styles */
  section {
    margin: 60px 200px;
    background: linear-gradient(120.21deg, rgba(176, 196, 222, 0.5) -5.91%, rgba(100, 149, 237, 0.5) 111.58%);
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-left: 1em;
    margin-top: 1em;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  ul {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;

  }
  
  /* li a {
    color: #007aff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }
  
  li a:hover {
    color: #0056b3;
  }
  span {
    padding-left: 100px;
    margin-left: 1em;
    margin-top: 1em;
    color: #333;
    font-size: 1em;
    display: inline-flex;
  } */

  table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
  }
  tr {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  td {
    flex: 1;
    box-sizing: border-box;
  }
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; 
    vertical-align: middle; 
    padding-left: 20px;
    border: 0;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    font-weight: 900;
  }
  
  tr:nth-child(odd) {
    background-color: #B0C4DE; /* 设置偶数行背景色 */
  }
  tr:nth-child(even) {
    background-color: #6495ED; /* 设置偶数行背景色 */
  }
  .release {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    font-weight: 900;
  }

  /* Footer styles */
  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #666;
  }